@use "../base/base" as *;

.card {
  width: min(90%, 25rem);
  margin: 0 auto;
  box-shadow: 0 0 2rem -1rem $clr-neutral-hover-300;
  overflow: hidden;

  &__img:hover img {
    scale: 1.1;
    transition: scale 300ms ease-in-out;
    -webkit-transition: scale 300ms ease-in-out;
    -moz-transition: scale 300ms ease-in-out;
    -ms-transition: scale 300ms ease-in-out;
    -o-transition: scale 300ms ease-in-out;
  }

  &__content {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: hsl(255, 100%, 100%);
  }

  &__cost-plan {
    padding: 1.25rem 1rem;
    background: $clr-neutral-hover-100;
  }
}

// ATTRIBUTION
.attribution {
  margin-top: 1rem;
  font-size: calc($fs-base/1.45);
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media (min-width: 600px) {
  .card__content {
    padding: 2rem 3rem;
  }
}
